html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';
    box-sizing: border-box;
    color: #fff;
}

*,
*:before,*:after {
  box-sizing: inherit;
}

#top{
    background: palevioletred;
    position: relative;
    z-index: 1;
}

#top:after{
    background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 30%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: 100%;
  z-index: -1;
}
  
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
  
  p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0.5em;
  }


.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 0 20px;
}

  h1 {
    font-size: 32px;
    font-weight: 500;
  }
  
  p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0.5em;
  }


.between{
    color: palevioletred;
    text-align: center;
    padding: 25px;
    position: relative;
    box-shadow: 10px 14px 40px #d3d3;
    z-index: 1;
}

.between::before{
    position: absolute;
    width: 100%;
    height: 150%;
    content: "";
    top: 0;
    left: 0;
    background: white;
    transform-origin: top-left; 
    transform: skewY(-1.5deg);
    z-index: -1;
}

#banner{
    background: url(../imgs/flower_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //padding: 15px;
    color: white;
    box-shadow:inset 0 0 0 2000px rgba(160, 92, 224, 0.5);

}

#middle{
    background-image: url(../imgs/water.jpg);
    background-color: greenyellow;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

#bottom{
    background-color: purple;
}

.title{
    font-size: 3rem;
    z-index: 1;    
}

.title > .fa-birthday-cake{
    display: inline-block;
}

.grid-container{
    max-width: 1000px;
    margin: auto;
}

.grid-container:after {
    display: table;
    clear: both;
    content: '';
  }

.left, .right{
    float: left;
    width: 50%;
    text-align: center;
    opacity: 0;

}

//sliding door effect

.left,
.right {
  display: inline-block;
  position: relative;
  line-height: 150px;
  text-align: center;
  box-sizing: border-box;

}

.left {
  -webkit-animation: MoveLeft 2s;
  animation: MoveLeft 2s;
  
}
@-webkit-keyframes MoveLeft {
  0% {
    -webkit-transform: translateX(-100%, 0);
            transform: translateX(-100%, 0);
            opacity: 0;
  }
  /*100% {
    -webkit-transform: translateX(-100%, 0);
            transform: translateX(-100%, 0);
            opacity: 1;
  }*/
}

.right {
  -webkit-animation: MoveRight 2s;
  animation: MoveRight 2s;
}
@-webkit-keyframes MoveRight {
  0% {
    -webkit-transform: translateX(100%, 0);
            transform: translateX(100%, 0);
            opacity: 0;
  }
  /*100% {
    -webkit-transform: translateX(100%, 0);
            transform: translateX(100%, 0);
            opacity: 1;
  }*/
}

@media only screen and (max-width: 600px) {
    .title{
        font-size: 2rem;
        margin: 0 10px;
    }

    .title > .fa-birthday-cake{
        display: block;
    }

    .card{
        padding: 100px 30px;
    }

.left, .right{
    display: block;
    width:  100%;
}
}