html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';
    box-sizing: border-box;
    background: pink;
    color: #fff;
}

*,
*:before,*:after {
  box-sizing: inherit;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    padding: 0 20px;
}