//footer

#bottom{
    background-color: purple;
    position: relative;
    z-index: 1;
}

#bottom:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
  }
#bottom:before {
    top: 0;
    -webkit-transform: skewY(-1.5deg);
            transform: skewY(-1.5deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }